* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #444;
  font-family: Cambria, Cochin, Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
}

p {
  line-height: 1.8;
}

img {
 width: 100%;
 height: auto;
}

a {
  color: black;
}

h1,
h2 {
  font-size: 8rem;
  font-style: italic;
  font-weight: 100;
}

.post {
  display: grid;
  max-width: 800px;
  margin: 2rem auto;
  grid-template-columns: 3fr 12fr 5fr;
  /* Implicit grid är när man inte definierar både rader och kolumner */
  /* I det här fallet blir då raderna implicita */
  row-gap: 1rem;
  column-gap: 5rem;
  
}

/* Alla direkta-barn som ligger i .post*/
.post > * {
    grid-column: 2 / 3;
}

.post > figure {
   grid-column: 1 / -1 ;
}

figcaption {
  font-size: 1rem;
}

.post > blockquote {
  grid-column: 1 / -1;
  font-size: 6rem;
  font-style: italic;
  text-align: center;
}

.tip {
  background-color: #fafafa;
  padding: 2rem;
  grid-row: span 3;
  place-self: center;
  /* align-self: start; */

}

.tip-right {
  grid-column: 3 / -1 ;
}

.tip-left {
  grid-column: 1 / 2;
}